[submodule "proj/external/googletest"]
	path = proj/external/googletest
	url = https://github.com/google/googletest.git
[submodule "proj/external/fmt"]
	path = proj/external/fmt
	url = https://github.com/fmtlib/fmt.git
